%h1 Listing scans

%table
  - @scans.each do |scan|
    %tr
      %td= link_to scan.url, scan 
      %td= scan.type
      %td= scan.last_visited
      %td= link_to 'Edit', edit_scan_path(scan)
      %td= link_to 'Destroy', scan, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Scan', new_scan_path
